/* Navbar container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f52b0;
    color: white;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;  /* Fix navbar to top of screen */
    top: 0;  /* Keep navbar on top */
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;  /* Ensures navbar is above other elements */
    flex-wrap: wrap;
}

/* Nav Menu Items should always be visible */
.nav-menu-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;  /* Allow menu to take up remaining space */
    flex-wrap: wrap;  
    justify-content: space-between;
    gap: 15px;  /* Space between menu items */
}

/* Individual nav items */
.nav-menu-item {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.nav-menu-item a {
    color: white; 
    text-decoration: none;  
}

.nav-menu-item a:hover {
    color: #f4bc51; 
}

/* Nav action buttons (like Register/Login) */
.nav-actions {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #116dff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* Logo */
.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: flex-start
}

.nav-logo img {
    width: 150px;               
    height: auto;               
    display: block;            
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;  
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
    display: block;
}

/* Hamburger icon for mobile devices */
.hamburger {
    display: none;  /* Hidden by default */
    cursor: pointer;
    position: absolute;
    left: 20px;  /* Align hamburger icon to the left */
    top: 20px;   /* Position it at the top */
    z-index: 100;  /* Ensure it's above other elements */
}

/* Show hamburger icon for screens smaller than 768px */
@media (max-width: 768px) {
    .hamburger {
        display: grid;  /* Display hamburger icon */
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .hamburger .bar {
        width: 20px;
        height: 2px;
        margin: 4px 0;
        background-color: white;
    }

    .nav-menu-items {
        display: none;  /* Hide menu by default on mobile */
        position: absolute;
        top: 60px;  /* Position below the navbar */
        left: 0;
        width: 100%;
        background-color: #5f52b0;
        text-align: center;
        flex-direction: column;
    }

    .nav-menu-items.show {
        display: flex;  /* Show menu when 'show' class is added */
    }
}

