/* Core Owl Carousel CSS File */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-item {
  float: left;
}

/* Owl Controls */
.owl-controls {
  position: relative;
  top: -200px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.owl-controls a {
  color: #336699;
}

.owl-controls a:hover {
  color: #336699;
}

/* Prev Button */
.owl-controls .bg-prev {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #336699;
  transform: rotate(45deg);
}

.owl-controls .bg-prev:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #336699;
}

/* Prev arrow */
.owl-controls .prev {
  left: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}

.owl-controls .prev.active {
  background-image: none;
  box-shadow: none;
}

/* Next Button */
.owl-controls .bg-next {
  position: absolute;
  right: 15px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #336699;
  transform: rotate(45deg);
}

.owl-controls .bg-next:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #336699;
}

.owl-controls .next {
  right: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}

.owl-controls .next.active {
  background-image: none;
  box-shadow: none;
}

/* Owl pagination (dot navigation) */
.owl-theme .owl-controls .owl-page {
  cursor: pointer;
  display: inline-block;
}

.owl-theme .owl-controls .owl-page a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  opacity: 0.5;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #888;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Owl carousel wrapper */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform: translate3d(0,0,0);
}
